/* ---[[[ GENERAL ELEMENTS START ]]]--- */


/* ---[[[ SCROLL END ]]]--- */
html
{
--scrollbarBG: linear-gradient(0deg, rgba(255,149,0,1) 0%, rgba(255,188,0,1) 51%, rgba(254,255,0,1) 100%);
--thumbBG: rgba(255, 100, 0);
overflow-x:hidden;
}

body::-webkit-scrollbar
{
width: 10px;
margin:5px;
}

body
{
scrollbar-width: thin;
scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track
{
background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb
{
background-color: var(--thumbBG) ;
}


@media only screen and (min-width: 800px)
{
	body::-webkit-scrollbar
	{
	width: 20px;
	margin:5px;
	}
}
/* ---[[[ SCROLL END ]]]--- */


@font-face
{
font-family: DirtyHeadline;
src: url(../assets/dirty_headline-webfont.woff);
}

p
{
font-family:sans-serif;
font-size:16px;
color:white;
margin-bottom:15px;
}

.hidden
{
display:none;
}

/* ---[[[ GENERAL ELEMENTS END ]]]--- */

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

/* --------------- MASTER START --------------- */

#master_container
{
display:flex;
flex-direction:column;
}

.bodycontainer
{
display:flex;
flex-direction:column;
}

#sidenav
{
display:none
}

.hiddenmobnav
{
display:none;
}

.hiddenmobnavtoggled
{
display:block;
}

.topspacer
{
width:100%;
margin-top:15px;
display:flex;
flex-direction:row;
justify-content:space-between;
}

.hamburgersidenav
{
display:flex;
flex-direction:column;
background-color:rgba(255, 100, 0, 0.85);
position:fixed;
width:100%;
}

.hamburgersidenavtoggled
{
display:flex;
flex-direction:column;
background-color:rgba(255, 100, 0);
position:fixed;
width:100%;
height:100vh;
}

.hamburgerbtn
{
padding:8px;
cursor:pointer;
height:49px;
width:49px;
background:none;
border:none;
margin-right:20px;
transition:.3s;
margin-bottom:5px;
}

.hamburgerbtn:active
{
padding:2px;
}

.hamburgerbtnasctive
{
padding:5px;
cursor:pointer;
height:49px;
width:49px;
background:none;
border:none;
margin-right:20px;
transition:.3s;
transform:rotate(90deg);
}

#logocontainer
{
display:flex;
flex-direction:row;
justify-content:center;
margin-top:4vh;
}

#logo
{
width:235px;
}

#logomobtopnav
{
width:100px;
margin-left:10px;
margin-bottom:5px;
margin-top:-5px;
}

#navitens
{
color:white;
display:flex;
flex-direction:row;
justify-content:center;
margin-top:10vh;
margin-bottom:8vh;
}

#navitens ul li
{
display:block
}

#navitens a
{
font-family: DirtyHeadline, cursive;
font-size:40px;
letter-spacing:2px;
color:white;
line-height:80px;
text-decoration:none;
transition-duration:0.3s;
}

#navitens a:hover
{
color:rgba(255, 210, 0);
}

#navsocialmediacontainer
{
display:flex;
flex-direction:row;
justify-content:center;
}

#navsocialmedia
{
display:flex;
flex-direction:row;
justify-content:space-between;
width:200px;
}

#navsocialmedia div
{
height:50px;
width:50px;
transition-duration:0.2s;
}

#sidenavbg
{
display:none;
}

@media only screen and (min-width: 800px)
{
	
	#logo
	{
	width:200px;
	height:200px;
	margin-top:60px;
	margin-bottom:-50px;
	}

	#navitens
	{
	display:flex;
	flex-direction:column;
	font-size:15px;
	color:white;
	}

	#navitens ul li
	{
	display:block
	}

	#navitens a
	{
	font-family: DirtyHeadline, cursive;
	font-size:40px;
	letter-spacing:2px;
	color:white;
	line-height:70px;
	text-decoration:none;
	transition-duration:0.3s;
	}

	#navitens a:hover
	{
	color:rgba(255, 210, 0);
	}

	#navsocialmedia
	{display:flex;
	flex-direction:row;
	}

	#navsocialmedia div
	{
	height:50px;
	width:50px;
	margin-right:18px;
	transition-duration:0.2s;
	}

	.bodycontainer
	{
	display:flex;
	flex-direction:row;
	}

	#sidenav
	{
	display:flex;
	flex-direction:column;
	padding:20px;
	position:fixed;
	height:100vh;
	}

	.hamburgersidenav
	{
	display:none;
	}

	.hamburgersidenavtoggled
	{
	display:none;
	}

	#sidenavbg
	{
	display:flex;
	background-color:rgba(255, 100, 0);
	min-width:250px;
	}
}

.contentbox
{
display:flex;
flex-direction:column;
flex-grow:14;
}

.contentboxtoggled
{
display:none;
}

.header
{
height:220px;
background-image:url(../images/Header_01.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.header h1
{
font-family: 'Caveat Brush', cursive;
letter-spacing:5px;
font-size:100px;
font-weight:400;
color:white;
margin-left:30px;
margin-top:110px;
text-shadow:0px 0px 60px rgba(0, 0, 0, 1);
}

@media only screen and (min-width: 800px)
{
	.header
	{
	height:150px;
	}

	.header h1
	{
	margin-top:40px;
	text-shadow:0px 0px 15px rgba(0, 0, 0, 0.7);
	}
}

/* --------------- MASTER END --------------- */

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

/* --------------- HOME START --------------- */

#hero
{
height:100vh;
/*background-image:url(../images/Hawaii_01.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;*/
overflow:hidden;
}

#herovideo
{
object-fit: cover;
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
z-index:-1;
}

#herotitle
{
display:flex;
flex-direction:column;
justify-content:center;
text-align:center;
text-shadow:0px 0px 20px rgba(0, 0, 0, 0.6);
height:100%;
width:100%;
z-index:2;
}

#herotitlecontent
{
display:flex;
flex-direction:row;
justify-content:center;
padding:20px;
}

#herotitle h1
{
font-family: 'Caveat Brush', cursive;
letter-spacing:5px;
font-size:60px;
font-weight:600;
color:white;
width:100%;	
}

@media only screen and (min-width: 600px)
{

	#herotitle h1
	{	
	font-size:75px;
	}
}

@media only screen and (min-width: 950px)
{

	#herotitle h1
	{	
	width:100%;
	}
}

@media only screen and (min-width: 1000px)
{
	#herotitle h1
	{	
	font-size:75px;
	}
}

@media only screen and (min-width: 1300px)
{
	#herotitle h1
	{
	font-size:80px;
	}
}


@media only screen and (min-width: 1500px)
{

	#herotitle h1
	{
	width:100%;	
	font-size:85px;
	}
}

#herobottle
{
margin-top:-370px;
margin-left:50vw;
}

#herocase
{
margin-top:-280px;
margin-left:58vw;
}

#herobottombg
{
background-image:url(../images/Hero_Bottom_BG.png);
background-repeat:no-repeat;
background-size:cover;
height:155px;
width:100%;
margin-top:-120px;
}

#sectionID
{
min-height:100vh;
}

.sectioncontent
{
padding-right:3px;
padding:left:3px;
padding-top:20px;
padding-bottom:20px;
}

.sectioncontent p
{
font-size:18px;
font-family: 'Fredoka One', cursive;
color:rgba(70, 65, 55);
line-height:24px;
letter-spacing:1px;
word-spacing:3px;
}

.sectioncontent h1
{
font-size:40px;
font-family: 'Caveat Brush', cursive;
text-align:center;
color:rgba(255, 80, 0);
margin-bottom:35px;
margin-top:10px;
}

@media only screen and (min-width: 800px)
{
	
	.sectioncontent
	{
	padding-right:10px;
	padding:left:10px;
	padding-top:20px;
	padding-bottom:20px;
	}

	.sectioncontent p
	{
	font-size:22px;
	font-family: 'Fredoka One', cursive;
	color:rgba(70, 65, 55);
	line-height:25px;
	letter-spacing:1px;
	word-spacing:3px;
	}

	.sectioncontent h1
	{
	font-size:55px;
	font-family: 'Caveat Brush', cursive;
	text-align:center;
	color:rgba(255, 80, 0);
	margin-bottom:35px;
	margin-top:10px;
	}
}

.yellowband
{
background-color:rgba(255, 210, 0);
height:60px;
}

#ad_gallery
{
display:flex;
flex-direction:column;
min-height:300px;
background-color:white;
}

#ad_title
{
display:none;
}

@media only screen and (min-width: 800px)
{
	#ad_title
	{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-top:-300px;
	text-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
	}
}

/* ((( SLIDE SHOW START ))) */

.slideshow-container
{
min-height:600px;
display:flex;
flex-direction:column;
background-color:rgba(255,140,60);
background-image:url(../images/Gallery_BG.png);
background-repeat:no-repeat;
background-position:center;
background-size:cover;
}

.slideshow-container h1
{
font-size:40px;
font-family: 'Caveat Brush', cursive;
text-align:center;
max-width:300px;
color:rgba(255, 255, 255);
}

@media only screen and (min-width: 800px)
{
	.slideshow-container h1
	{
	font-size:55px;
	font-family: 'Caveat Brush', cursive;
	text-align:center;
	max-width:650px;
	color:rgba(255, 255, 255);
	}
}

.mySlides
{
margin-right:auto;
margin-left:auto;
}

#gallery_slide_01
{
width:60vw;
height:600px;
background-image:url(../images/Gallery_01_AllMOB.png);
background-repeat:no-repeat;
background-position:center;
background-size:cover;
}

#gallery_slide_02
{
width:60vw;
height:600px;
background-image:url(../images/Gallery_02_HawaiianWhiteMOB.png);
background-repeat:no-repeat;
background-position:center;
background-size:cover;
}

#gallery_slide_03
{
width:60vw;
height:600px;
background-image:url(../images/Gallery_03_LemonShandyMOB.png);
background-repeat:no-repeat;
background-position:center;
background-size:cover;
}

#gallery_slide_04
{
width:60vw;
height:600px;
background-image:url(../images/Gallery_04_RubyFreshMOB.png);
background-repeat:no-repeat;
background-position:center;
background-size:cover;
}

#gallery_slide_05
{
width:60vw;
height:600px;
background-image:url(../images/Gallery_05_HolyCitrusMOB.png);
background-repeat:no-repeat;
background-position:center;
background-size:cover;
}

@media only screen and (min-width: 800px)
{
	#gallery_slide_01
	{
	background-image:url(../images/Gallery_01_All.png);
	}

	#gallery_slide_02
	{
	background-image:url(../images/Gallery_02_HawaiianWhite.png);
	}

	#gallery_slide_03
	{
	background-image:url(../images/Gallery_03_LemonShandy.png);
	}

	#gallery_slide_04
	{
	background-image:url(../images/Gallery_04_RubyFresh.png);
	}

	#gallery_slide_05
	{
	background-image:url(../images/Gallery_05_HolyCitrus.png);
	}
}

.cursor_container
{
display: flex;
flex-direction:row;
justify-content:space-between;
cursor: pointer;
width: 60vw;
margin-top:-310px;
margin-right:auto;
margin-left:auto;
}

.prev, .next
{
width: 10px;
height:15px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.4s ease;
user-select: none;
padding: 16px;
}

.prev:hover, .next:hover
{
background-color: rgba(0,0,0,0.8);
}

/* ((( SLIDE SHOW END ))) */

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

/* --------------- HOME SECTIONS START --------------- */

#ad_order
{
display:flex;
flex-direction:column;
min-height:300px;
background-color:white;
padding:30px;
}

#ad_order p
{
text-align:center;
}

#ad_order article
{
width:70%;
margin: 0 auto;
}

#ad_order_imgs
{
display:flex;
flex-direction:column;
justify-content:center;
margin-top:60px;
margin: 60px auto 0 auto;
}

#ad_order_imgs img
{
margin:20px auto 20px auto;
}

#ad_order_imgs a
{
margin: 0 auto;
}

@media only screen and (min-width: 800px)
{
	#ad_order_imgs
	{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-top:60px;
	max-width:500px;
	}

	#ad_order_imgs img
	{
	margin: 0 20px 0 20px;
	}
}

#ad_values
{
display:flex;
flex-direction:column;
padding:30px;
background-color:white;
}

#ad_values article
{
width:70%;
margin: 0 auto;
}

.ad_values_flexdisplay
{
display:flex;
flex-direction:column;
justify-content:space-between;
margin:0 auto 30px auto;
}

.ad_values_flexdisplay h2
{
font-size:28px;
font-family: 'Caveat Brush', cursive;
text-align:center;
color:rgba(255, 100, 40);
font-weight:bold;
letter-spacing:2px;
}

@media only screen and (min-width: 800px)
{

	.ad_values_flexdisplay h2
	{
	font-size:28px;
	font-family: 'Caveat Brush', cursive;
	text-align:center;
	color:rgba(255, 100, 40);
	font-weight:bold;
	letter-spacing:2px;
	}
}

@media only screen and (min-width: 1200px)
{
	.ad_values_flexdisplay
	{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin:0 auto 30px auto;
	}
}

.ad_values_flexbox
{
display:flex;
flex-direction:column;
width:150px;
}

.ad_values_flexslide
{
display:flex;
direction:row;
justify-content:center;

}

.ad_values_flexalign
{
display:flex;
flex-direction:row;
justify-content:center;
margin:20px;
}

.ad_values_svg
{
width:150px;
margin: 0 auto;
}

.ad_values_flexbox
{
min-width:200px;
}

.ad_values_flexbox p
{
margin-top:6px;
font-size:25px;
font-family: 'Caveat Brush', cursive;
text-align:center;
color:rgba(170, 70, 40, 0.7);
}

#ad_intro
{
display:flex;
background-color:rgba(255,130,0);
padding:30px;
}

#ad_intro a
{
text-decoration:none;
}

#ad_intro h1
{
color:white;
}

#ad_intro p
{
color:white;
}

#ad_intro_article
{
width:70%;
margin: 0 auto;
}

#ad_intro_button
{
border: 2px solid white;
border-radius: 5px;
width:120px;
margin-left: auto;
padding:5px;
transition:.2s;
}

#ad_intro_button p
{
margin: 0px;
text-align:center;
}

#ad_intro_button:hover
{
background-color:white;
}

#ad_intro_button p:hover
{
margin: 0px;
color:rgba(255,130,0);
}


/* --------------- HOME SECTIONS END --------------- */
/* --------------- HOME END --------------- */

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

/* --------------- BEER START --------------- */

.beers_flex_display
{
display:flex;
flex-direction:column;
margin-left:auto;
margin-right:auto;
margin-top:0px;
margin-bottom:90px;
width: 70%;
}

.beer_name_container
{
display:flex;
flex-direction:column;
justify-content:left;
width:100%;
max-height:200px;
}

.beer_name
{
height:50px;
margin-right:auto;
margin-bottom:20px;
}

.beers_title
{
max-width:400px;
margin: 0 auto;
}

.beers_flex_display h2
{
font-size:40px;
font-family: 'DirtyHeadline', sans-serif;
text-align:left;
color:rgba(255, 80, 0);
margin-bottom:30px;
}

.beers_flex_display hr
{
border:0;
clear:both;
display:block;
width: 100%;               
background-color:rgba(150,150,150,0.5);
height: 1px;
margin-top:10px;
margin-bottom:110px;
}

.beer_article
{
display:flex;
flex-direction:column;
margin-bottom:50px;
}

.beer_text
{
display:flex;
flex-direction:column;
flex-grow:3;
order:2;
margin:15px;
min-width:310px;
}

.beer_image01
{
display:flex;
flex-direction:row;
justify-content:center;
flex-grow:1;
order:1;
height:250px;
width:auto;
background-image:url(../images/beercase01.png);
background-repeat:no-repeat;
background-position:center;
background-size:contain;
}

.beer_image02
{
display:flex;
flex-direction:row;
justify-content:center;
flex-grow:1;
order:1;
height:250px;
width:auto;
background-image:url(../images/beercase02.png);
background-repeat:no-repeat;
background-position:center;
background-size:contain;
}

.beer_image03
{
display:flex;
flex-direction:row;
justify-content:center;
flex-grow:1;
order:1;
height:250px;
width:auto;
background-image:url(../images/beercase03.png);
background-repeat:no-repeat;
background-position:center;
background-size:contain;
}

.beer_image04
{
display:flex;
flex-direction:row;
justify-content:center;
flex-grow:1;
order:1;
height:250px;
width:auto;
background-image:url(../images/beercase04.png);
background-repeat:no-repeat;
background-position:center;
background-size:contain;
}

@media only screen and (min-width: 800px)
{
	.beers_flex_display
	{
	display:flex;
	flex-direction:column;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:90px;
	width: 70%;
	}

	.beers_flex_display hr
	{
	margin-bottom:50px;
	}

	.beers_flex_display h2
	{
	margin-bottom:10px;
	}

	.beers_title
	{
	max-width:500px;
	margin:0 auto;
	}

	.beer_article
	{
	display:flex;
	flex-direction:row;
	margin-bottom:50px;
	}

	.beer_text
	{
	order:1;
	margin: 15px 0px 0px 0px;
	}

	.beer_image01
	{
	order:2;
	min-width:400px;
	min-height:300px;
	}

	.beer_image02
	{
	order:2;
	min-width:400px;
	min-height:300px;
	}

	.beer_image03
	{
	order:2;
	min-width:400px;
	min-height:300px;
	}

	.beer_image04
	{
	order:2;
	min-width:400px;
	min-height:300px;
	}
}

@media only screen and (min-width: 1100px)
{
	.beers_title
	{
	max-width:1000px;
	margin:0 auto;
	}
}

/* --------------- BEER END --------------- */

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

/* --------------- ABOUT START --------------- */

#about_section
{
width:70%;
min-height:700px;
margin-left:auto;
margin-right:auto;
}

#about_section article
{
margin-bottom:90px;
}

.article_image_container
{
display:flex;
flex-direction:row;
justify-content:center;
overflow:hidden;
}

.article_image_x_align
{
display:flex;
flex-direction:column;
}

.about_img_01
{
height:245px;
width:370px;
background-image:url(../images/Hawaii_02.jpg);
background-size:contain;
background-repeat:no-repeat;
background-position:center;
margin:30px auto 3px auto;
}

.legend
{
display:flex;
flex-direction:row:
justify-content:center;
height:16px;
width:370px;
background-color:rgba(255, 255, 255, 0.4);
margin-bottom:25px;
margin-left:auto;
margin-right:auto;
}

.legendtext
{
width:100%;
}

.legendtext p
{
font-family: sans-serif;
font-weight:bold;
font-size:10px;
text-align:center;
color:black;
margin-top:-4px;
}

@media only screen and (min-width: 800px)
{
	.about_img_01
	{
	height:532px;
	width:800px;
	margin:30px auto 30px auto;
	}

	.legend
	{
	height:20px;
	width:790px;
	padding:5px;
	margin-top:-60px;
	margin-bottom:30px;
	}

	.legendtext
	{
	width:100%;
	}

	.legendtext p
	{
	font-size:12px;
	}
}

/* --------------- ABOUT END --------------- */

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

/* --------------- CONTACT START --------------- */

#contact_flex_display
{
width:70%;
margin-left:auto;
margin-right:auto;
}

#form_flex_display
{
display:flex;
flex-direction:column;
margin-left:auto;
margin-right:auto;
margin-bottom:50px;
margin-top:30px;
padding:15px;
width:90%;
background-color:rgba(255, 80, 0);
border-radius:15px;
}

@media only screen and (min-width: 800px)
{
#form_flex_display
	{
	width:70%;
	}
}

#form_flex_display input, select, option
{
margin-bottom:10px;
border:none;
border-radius:5px;
padding:8px;
}

#form_flex_display textarea
{
height:100px;
margin-bottom:30px;
border:none;
border-radius:5px;
padding:5px;
resize:vertical;
}

.contact_form_label
{
display:flex;
flex-direction:column;
padding:7px;
border-radius:7px;
background-color:#FFCC00;
}

.contact_form_label label
{
font-size:25px;
font-family: 'Caveat Brush', cursive;
text-align:left;
color:white;
}

#button_area
{
display:flex;
justify-content:center;
}

#form_submit_buttom
{
width:120px;
height:45px;
font-size:25px;
font-family: 'Caveat Brush', cursive;
letter-spacing:2px;
font-weight:bold;
color:white;
background-color:rgba(255, 80, 0);
border-radius:8px;
border: 3px solid white;
}

#form_submit_buttom:hover
{
color:rgba(255, 80, 0);
background-color:white;
}

/* --------------- CONTACT END --------------- */

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

/* FOR BOTH FORM SECTIONS */

.form_item
{
display:flex;
flex-direction:column;
margin-bottom:10px;
}

.form_label_container
{
display:flex;
flex-direction:row;
margin-bottom:-3px;
margin-left:-5px;
z-index:2;
}

/* FOR BOTH FORM SECTIONS */

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

/* --------------- ORDER START --------------- */

#order_flex_display
{
width:70%;
margin-left:auto;
margin-right:auto;
}

#order_form_flex_display
{
display:flex;
flex-direction:column;
margin-left:auto;
margin-right:auto;
margin-bottom:50px;
margin-top:60px;
padding:15px;
width:90%;
background-color:rgba(255, 170, 0);
border-radius:15px;
}

@media only screen and (min-width: 800px)
{
#order_form_flex_display
	{
	width:70%;
	}
}

#order_form_flex_display input, select, option
{
margin-bottom:10px;
border:none;
border-radius:5px;
padding:8px;
}

#order_form_flex_display textarea
{
height:100px;
margin-bottom:30px;
border:none;
border-radius:5px;
padding:5px;
resize:vertical;
}

.order_form_label
{
display:flex;
flex-direction:column;
padding:7px;
border-radius:7px;
background-color:#FF6F00;
}

.order_form_label label
{
font-size:25px;
font-family: 'Caveat Brush', cursive;
text-align:left;
color:white;
}

#order_button_area
{
display:flex;
justify-content:center;
}

#order_form_submit_buttom
{
width:120px;
height:45px;
font-size:25px;
font-family: 'Caveat Brush', cursive;
letter-spacing:2px;
font-weight:bold;
color:white;
background-color:rgba(255, 170, 0);
border-radius:8px;
border: 3px solid white;
}

#order_form_submit_buttom:hover
{
color:rgba(255, 170, 0);
background-color:white;
}

/* --------------- ORDER END --------------- */

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

/* --------------- FOOTER START --------------- */

#footer
{
display:flex;
height:20px;
background-color:rgba(255,130,0);
padding:20px;
justify-content: center;
}

#footer p
{
font-family:sans-serif;
font-size:18px;
width:70%;
text-align:center;
}

/* --------------- FOOTER END --------------- */

/* ---------{{{{{{{{{ DESKTOP END }}}}}}}}}--------- */